* {
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
}

.estiloPaginaPrincipal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;

  background: linear-gradient(135deg, #31a8b8, #31ce8c);

  & .formularioPrincipal {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 350px;
    height: 350px;
    background-color: #dbdbdb;
    margin-top: 20vh;
    border: 1px solid #5c5c5c;

    & .titulo {
      font-size: 20px;
      font-weight: bold;
      padding: 15px 0;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #5c5c5c;
      position: sticky;
      top: 0;
      background-color: #dbdbdb;
      z-index: 10;
      cursor: default;
    }

    & form {
      width: 100%;
      height: 100%;
      margin-top: 30px;

      & .camposLogin {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 40px;

        & input {
          height: 23px;
          width: 85%;
          font-size: 16px;
        }
      }

      & .botoesLogin {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        & button {
          font-size: 16px;
          transition: 0.2s;
          border: none;
          cursor: pointer;
        }

        & button:hover {
          font-size: 16px;
          background-color: #5cd40d;
          border: none;
          color: white;
          cursor: pointer;
        }
      }

      & .naoTerCadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        margin-top: 20px;

        & a {
          color: #000;
        }

        & a:hover {
          color: #0db3dd;
          cursor: pointer;
        }
      }
    }
  }
}
